.head {
  height: 8vh;
  padding: 0 9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  background: var(--bg-1);
  border-bottom: var(--Border-1);
}
.LogoLink {
  height: 36px;
  display: flex;
}
.head_nav {
  list-style: none;
  display: flex;
  gap: 1.25rem;
}
.nav-link {
  font-size: 1.05rem;
  font-weight: 400;
  text-decoration: none;
  color: var(--Text-Col-1);
  &:hover {
    color: var(--Col-0);
  }
}
/* language */
.lang-Theme {
  display: flex;
  align-items: center;
}
.menumobile {
  height: 3.5rem;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
#theme-toggle {
  margin-left: 0.8rem;
  padding: 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  color: var(--Col-0);
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: var(--Border-1);
  background: transparent;
}
.hamburger {
  margin-left: 1rem;
  font-size: 2rem;
  color: var(--Col-1);
  cursor: pointer;
  display: none;
  align-items: center;
  background: none;
  border: none;
}
/* Lang */
.lang {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 400;
  position: absolute;
  top: 7.5%;
  background: var(--bg-1);
  border: 1px solid var(--Col-0);
  border-radius: 8px;
  z-index: 99;
}
.lang li {
  padding: 10px 15px;
  cursor: pointer;
}
.lang li:hover {
  color: var(--Col-0);
  border-radius: 8px;
}

.menumobile:hover + .lang,
.lang:hover {
  display: block;
}
/* Mobile: até 768px */
@media (max-width: 1024px) {
  .hamburger {
    display: flex;
  }
  .head_nav {
    display: none;
    position: absolute;
    top: 8vh;
    left: 0;
    right: 0;
    flex-direction: column;
    gap: 1rem;
    background: var(--bg-1);
    padding: 1rem 2rem;
    border-bottom: var(--Border-1);
    z-index: 9;
  }
  .head_nav.active {
    display: flex;
  }
}
@media (max-width: 768px) {
  .head {
    padding: 0 2rem;
  }

  .lang {
    top: 100%;
    left: 0;
    right: auto;
    position: relative;
    margin-top: 0.5rem;
  }

  .menumobile:hover + .lang,
  .lang:hover {
    display: none; /* hover desativado no mobile */
  }

  .menumobile.open + .lang {
    display: block;
  }
}
@media (max-width: 426px) {
  .head {
    padding: 0 1rem;
  }
  .LogoLink {
    height: 24px;
  }
  .menumobile {
    display: none;
  }

  .lang-Theme {
    gap: 0.75rem;
  }

  .nav-link {
    font-size: 1rem;
  }

  #theme-toggle {
    padding: 0.4rem;
    font-size: 1rem;
  }
  .hamburger {
    font-size: 1.8rem;
  }
}
