<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artigos Bitcoin</title>
    <link rel="stylesheet" href="/public/src/index.css" />
    <link rel="stylesheet" href="/public/src/app.css" />
    <link rel="stylesheet" href="/public/src/components/header/head.css" />
    <link rel="stylesheet" href="/public/src/components/footer/foot.css" />
    <link rel="icon" href="/public/Favicon.png" />
  </head>
  <body>
    <div id="preloader">
      <span class="Loader">
        <img src="/public/Favicon.png" alt="Bitcoin" />
      </span>
    </div>

    <header class="head">
      <a class="LogoLink" href="/index.html">
        <img
          src="/public/asset/Header_Logo.png"
          alt="Logo do Artigos Bitcoin"
          class="header_logo"
        />
      </a>

      <nav>
        <ul class="head_nav">
          <li>
            <a
              class="nav-link"
              href="/templates/pages/articles.html"
              data-i18n="nav.articles"
              >Artigos</a
            >
          </li>
          <li>
            <a
              class="nav-link"
              href="/templates/pages/publish.html"
              data-i18n="nav.publish"
              >Publique Seu Artigo</a
            >
          </li>
          <li>
            <a
              class="nav-link"
              href="/templates/pages/help.html"
              data-i18n="nav.help"
              >Contribua</a
            >
          </li>
          <li>
            <a
              class="nav-link"
              href="/templates/pages/contact.html"
              data-i18n="nav.contact"
              >Contato</a
            >
          </li>
        </ul>
      </nav>

      <div class="lang-Theme">
        <a
          id="menumobile"
          class="menumobile"
          onclick="mobileMenuShow(event);"
          ontouchstart="mobileMenuShow(event)"
        >
          <span id="selected-lang">Português Brasil</span>
          <ion-icon name="chevron-down-outline"></ion-icon>
        </a>
        <ul class="lang is-expand" id="lang-menu">
          <li data-lang="pt-br">Português Brasil</li>
          <li data-lang="en">English</li>
          <li data-lang="es">Español</li>
        </ul>

        <button id="theme-toggle" aria-label="Toggle Theme">
          <ion-icon name="moon"></ion-icon>
        </button>

        <button id="menu-toggle" class="hamburger" aria-label="Abrir menu">
          <ion-icon name="menu"></ion-icon>
        </button>
      </div>
    </header>

    <main class="main">
      <section class="search-filter">
        <input
          type="text"
          id="searchBar"
          placeholder="Buscar artigos..."
          aria-label="Buscar artigos"
        />

        <select id="categoryFilter" aria-label="Filtrar por categoria">
          <option value="">Todas as categorias</option>
          <option value="bitcoin">Bitcoin</option>
          <option value="blockchain">Blockchain</option>
          <option value="web3">Web3</option>
        </select>
      </section>

      <section class="article-list">
        <div class="articles-container"></div>
      </section>
    </main>

    <footer class="foot">
      <p data-i18n="footer.licenca">
        O conteúdo desse site está livre para ampla distribuição. Copyright
        Free. Pode copiar!
      </p>
      <p data-i18n="footer.lightning">
        Doe através de Lightning para o mantenedor desse Website:
        <span>pioustulip03@walletofsatoshi.com</span>
      </p>
      <div class="date" data-i18n="footer.copy">Bitcoiners 2025</div>
    </footer>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script type="module" src="/server/data/articles.js" defer></script>
    <script type="module" src="/public/src/app.js"></script>
  </body>
</html>
