.main {
  min-height: 66vh;
  /* border: 1px solid red; */
}
.sect-0 {
  height: 84vh;
  padding: 0 9rem;
  display: flex;
  justify-content: center;
  gap: 14rem;
  border-bottom: var(--Border-1);
}
.boxContentRight {
  height: fit-content;
  width: max-content;
  margin: auto 0;

  & h1 {
    padding-bottom: 10px;
    font-size: 3rem;
    border-bottom: var(--Border-1);
  }
  & p {
    margin-top: 0.75rem;
    font-weight: 400;
  }
}
.buttons {
  margin-top: 0.75rem;
  display: flex;
  gap: 1rem;
  & a {
    color: var(--Col-1);
  }
  & button {
    padding: 0.75rem 1rem;
    cursor: pointer;
    border-radius: 0px;
    border-style: none;
    color: var(--Bg-1);
    border: 1.4px solid var(--Col-0);
    background-color: var(--Col-0);
    font-weight: 600;
    &:hover {
      background-color: var(--Col-0-hover);
    }
  }
  & .button-2 {
    background: transparent;
    &:hover {
      background: var(--Col-0-hover);
    }
  }
}
.orangetext {
  color: var(--Col-0);
}
.boxContentLeft {
  height: fit-content;
  width: 50%;
  margin-top: auto;
  display: flex;
  align-items: center;
  & img {
    height: 38rem;
    width: max-content;
    z-index: -2;
  }
}
/* Sect Help */
.sect-help {
  height: 8vh;
  margin: 0.75rem 0;
  font-weight: 600;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--Col-0);
}
/* Sect 1 */
.sect-1 {
  padding: 0 9rem;
}
.description {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.25rem;
  & h2 {
    width: max-content;
    margin: 0 auto;
    padding-bottom: 0.25rem;
    color: var(--Col-0);
    border-bottom: 1.4px solid var(--Col-0);
  }
  & p {
    width: 70%;
    margin-top: 0.5rem;
    font-weight: 500;
    text-align: center;
  }
  & a {
    color: var(--Col-0);
  }
}
.imageBit {
  display: flex;
  justify-content: center;
  & img {
    height: 5rem;
    width: 5rem;
  }
}
/* page Articles - Artigos */

.search-filter {
  margin: 1rem 0;
  padding: 0 9rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.search-filter input,
.search-filter select {
  flex: 1;
  padding: 0.8rem;
  color: var(--Col-1);
  border: none;
  outline: var(--Border-1);
  border-radius: 6px;
  background: var(--Bg-1);
  &:focus {
    outline: 1.4px solid var(--Col-0);
  }
}
/* Artcles - Artigos */
.article-list {
  width: 100%;
  padding: 0 9rem;
}
.articles-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 360px));
  justify-content: space-between;
  gap: 0.75rem;
}
/* Content */
.article-card {
  height: max-content;
  width: 380px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  border: 1.4px solid var(--Col-0);
  background: var(--Bg-2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}
.article-card:hover {
  transform: translateY(-5px);
}
.article-image {
  width: 100%;
  max-width: 380px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}
.article-content {
  padding: 1rem;
}
.article-title {
  margin: 0 0 0.5rem;
  font-size: 1.25rem;
  color: var(--Col-0);
}
.article-author {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: #525252;
}
/* AAAAAAAAAAAAA */
.article-details summary {
  margin-bottom: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  color: #0077cc;
}
.article-text {
  color: var(--Col-1);
  line-height: 1.6;
}
/* Page publish */
.sect-push-0 {
  padding: 1.25rem 0 0 0;

  & h1 {
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
    text-align: center;
    color: var(--Col-0);
  }
  & p {
    width: 50%;
    margin: 0 auto;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
  }
}
.forms {
  width: 40%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  background: var(--Bg-2);
  & button {
    padding: 0.8rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--bg-1);
    cursor: pointer;
    background: var(--Col-1);
    &:hover {
      background: var(--Col-0);
    }
  }
  & input,
  textarea {
    color: var(--Col-1);
  }
}
.inputName,
.inputEmail,
.inputMessage {
  width: 100%;
  padding: 0.5rem 0;
  color: var(--Col-1);
  & span {
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    gap: 0.25rem;
  }
  & ion-icon {
    font-size: 1.25rem;
  }
  & input {
    height: 1.5rem;
    width: 100%;
    margin-top: 0.3rem;
    padding: 0.3rem;
    outline: 1.4px solid var(--Col-1);
    border: none;
    background: transparent;
    &:focus {
      outline: 1.4px solid var(--Col-0);
    }
  }
}
.inputMessage {
  & textarea {
    height: 10.6rem;
    width: 100%;
    font-size: 1rem;
    background: transparent;
    & :focus {
      outline: 1.4px solid var(--Col-0);
    }
  }
}
/* Page help */
.sectHelp-0 {
  width: 100%;
  height: 68.1vh;
  padding: 0 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  & h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: var(--Col-0);
  }
  & p {
    width: 60%;
    font-size: 1.05rem;
    font-weight: 400;
    text-align: center;
  }
  & span {
    color: var(--Col-0);
  }
  & .text-2 {
    margin-top: 0.5rem;
    font-size: 1.15rem;
    font-weight: 400;
  }
}
/* page contact */
.sect-contact-0 {
  height: 68.1vh;
  padding: 0 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & h1 {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    color: var(--Col-0);
  }
  & .text {
    width: 47%;
    font-size: 1.1rem;
    font-weight: 400;
  }
  & img {
    height: 37.4rem;
    z-index: -1;
  }
  & a {
    color: var(--Col-0);
    text-decoration: none;
  }
}
@media (max-width: 1024px) {
  .sect-0 {
    height: 90vh;
    padding: 0 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .boxContentRight,
  .boxContentLeft {
    width: 300px;
    margin: 0;
    & img {
      height: max-content;
      width: 100%;
    }
  }
  .boxContentRight {
    h1 {
      font-size: 2rem;
    }
  }
  /* page articles */
  .search-filter {
    padding: 0 6rem;
  }
  .article-list {
    padding: 0 6rem;
  }
  .articles-container {
    gap: 1.25rem;
  }
  /* page publish */
  .forms {
    width: 50%;
  }
  /* page help */
  .sectHelp-0 {
    & p {
      width: 80%;
    }
  }
  /* page contact */
  .sect-contact-0 {
    padding: 0 6rem;
    & h1 {
      font-size: 1.4rem;
    }
    & .text {
      width: 80%;
      font-size: 1rem;
    }
    & img {
      height: 28rem;
    }
  }
}
@media (max-width: 768px) {
  .sect-0 {
    padding: 2rem;
    justify-content: start;
    flex-direction: column;
    gap: 3rem;
  }
  .boxContentRight {
    h1 {
      text-align: center;
    }
    & p {
      text-align: center;
    }
    .buttons {
      justify-content: center;
    }
  }
  .sect-1 {
    padding: 0 2rem;
  }
  .description {
    width: 100%;
    & p {
      width: 90%;
    }
    & h2 {
      font-size: 1.1rem;
    }
  }
  /* page articles */
  .search-filter {
    padding: 0 2rem;
  }
  .article-list {
    padding: 2rem;
  }
  .articles-container {
    grid-template-columns: repeat(auto-fit, minmax(340px, 340px));
    justify-content: center;
  }
  .article-card {
    width: 340px;
  }
  /* page publish */
  .sect-push-0 {
    & p {
      width: 80%;
    }
  }
  .forms {
    width: 80%;
  }
  /* page help */
  .sectHelp-0 {
    & p {
      width: 120%;
    }
  }
  /* page contact */
  .sect-contact-0 {
    padding: 0 2rem;
    & h1 {
      font-size: 1.1rem;
    }
    & img {
      height: 20rem;
    }
  }
}
@media (max-width: 426px) {
  .article-list {
    padding: 0rem;
  }
  .articles-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  }
  .article-card {
    width: 300px;
  }
  /* page publish */
  .sect-push-0 {
    & h1 {
      font-size: 1.1rem;
    }
    & p {
      font-size: 1rem;
    }
  }
  /* page help */
  .sectHelp-0 {
    padding: 0.75rem;
    & h1 {
      font-size: 1.2rem;
    }
    & p {
      width: 100%;
      font-size: 1rem;
    }
  }
  /* page contact */
  .sect-contact-0 {
    padding: 1rem;
    flex-direction: column;
    & img {
      height: 18rem;
    }
  }
}
